body
/	form action=""
/		select name="name"
/	form
/		First name:
/			input name="firstname" type="text"


form action="/login" method="post"	
	input type="text" name="username" required=true
	input type="submit" value="Submit"


